.intro {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  .intro-left {
    flex: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    

    .imgContainer {
      width: 50vw;
      padding:20px;
      border-radius: 20%;
      display: flex;
      justify-content: center;
    }
  }

  .intro-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .right-wrapper {
      min-height: 40vh;
      h3 {
        font-size: 3rem;
        letter-spacing: 5px;
      }

      .ityped {
        font-size: 3rem;
        color: crimson;
        font-weight: bold;
        letter-spacing: 5px;
      }

      h1 {
        font-size: 4rem;
        letter-spacing: 7px;
      }
    }
  }
}

